<%- include('layout', {theme}) %>



    <main>
        <form name="signUp" action="/signup" method="post">
            <p style="color: <%=theme==='Light' ? 'black': 'white' %>;
                background-color: <%=theme==='Light' ? 'white': 'black' %>;
        font-weight: bold;
        font-size: 20px;
        text-shadow: 0px -1px mediumpurple,
            0px 3px mediumpurple;
        position: fixed;
        left: 560px;
        top: 140px;">
                Name</p><input type="text" name="name" required>
            <p style="color: <%=theme==='Light' ? 'black': 'white' %>;
                background-color: <%=theme==='Light' ? 'white': 'black' %>;
        font-weight: bold;
        font-size: 20px;
        text-shadow: 0px -1px mediumpurple,
            0px 3px mediumpurple;
        position: fixed;
        left: 560px;
        top: 250px;">
                Email-ID</p><input type="text" name="em" required>
            <p style="color: <%=theme==='Light' ? 'black': 'white' %>;
                background-color: <%=theme==='Light' ? 'white': 'black' %>;
            font-weight: bold;
            font-size: 20px;
            text-shadow: 0px -1px mediumpurple,
                0px 3px mediumpurple;
            position: fixed;
            left: 560px;
            top: 360px;"> Password</p>
            <p><input type="text" name="p" required></p>

            <p style="color: <%=theme==='Light' ? 'black': 'white' %>;
                background-color: <%=theme==='Light' ? 'white': 'black' %>;
        font-weight: bold;
        font-size: 20px;
        text-shadow: 0px -1px mediumpurple,
            0px 3px mediumpurple;
        position: fixed;
        left: 560px;
        top: 470px;">
                Confirm Password</p><input type="text" name="cp" required>

            <% if (errorMessage) { %>
                <p style="color: <%=theme==='Light' ? 'black': 'white' %>;
                    background-color: <%=theme==='Light' ? 'white': 'black' %>;
                font-weight: bold;
                font-size: 20px;
                text-shadow: 0px -1px red,
                    0px 3px red;
                position: fixed;
                left: 533px;
                top: 770px;">
                    <%= errorMessage %>
                </p>
                <% } %>


                    <p><button onclick="checkIfUserExists()" id="signUpButton" type="button" value="su"
                            class="button">Sign
                            Up</button></p>

                    <p><button onclick=" goBack()" type="button" value="back" class="button">Back</button>
                    </p>




        </form>

    </main>


    <script defer>

        document.addEventListener("DOMContentLoaded", function () {
            var signUpButton = document.getElementById('signUpButton');
            signUpButton.addEventListener('click', checkIfUserExists);

            function checkIfUserExists() {

                var name = document.getElementsByName("name")[0].value;
                var email = document.getElementsByName("em")[0].value;
                var password = document.getElementsByName("p")[0].value;
                var confirmPassword = document.getElementsByName("cp")[0].value;

                var allUserDetails = JSON.parse(localStorage.getItem("users"));

                for (var i = 0; i < allUserDetails.length; i++) {
                    if (email === allUserDetails[i].email) {
                        const errorMessage = "Account already exists. Try Logging In";

                        window.location.href = "/signup/" + encodeURIComponent(errorMessage);

                        return;
                    }
                }
                if (!email.includes("@") || !email.includes(".")) {
                    const error = "Invalid Email ID!";
                    window.location.href = "/signup/" + encodeURIComponent(error);
                    return;

                }

                if (password != confirmPassword) {
                    const error = "Passwords do not match. Please try again.";
                    window.location.href = "/signup/" + encodeURIComponent(error);

                }
                else {

                    userDetails = { "name": name, "email": email, "password": confirmPassword }
                    allUserDetails.push(userDetails);
                    localStorage.setItem("users", JSON.stringify(allUserDetails));
                    window.location.href = "/homepage" + encodeURIComponent(name);
                }


            }
        });

        function goBack() {
            window.location.href = "/";
        }


    </script>